.cv-main{
    border: 1px solid;
    background-image: url("./CV/rizal-ramadhany-Z1fIrf8lD80-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.cv-main.easter-bg {
    background-image: url(/EasterEgg/Easter.jpg);
    background-position: center;
    background-size: cover;
}

.cv-section{
    padding: 1rem 0;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.education{
    width: 100%;
    padding: 1rem;
}

.education article{
    margin-bottom: 2rem;
}

.education article p {
    width: 70%;
}

.h3-title{
    display: flex;
    justify-content: space-between;
}

.skillset{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.skillset h2{
    align-self: flex-start;
}

.skill-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #2b2929;
    border-radius: 12px;
}


.card{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(0, 140, 255, 0.671);
    color: white;
    transition: 0.2s;
}

.card:hover{
    transform: scale(1.1);
}

.military{
    width: 100%;
    padding: 1rem;
}

.military p{
    width: 70%;
}


@media (max-width: 768px){
    .cv-main{
        background-image: none;
    }

    .cv-section{
        width: 100%;
    }
    
    .education{
        width: 100%;
    }

    .h3-title{
        margin-top: 1rem;
        flex-direction: column;
    }

    .education article p {
    width: 100%;
    }
    
    .skillset{
        width: 100%;
        padding: 0;
    }

    .skill-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .military{
        width: 100%;
    }

    .military p{
        width: 100%;
    }
}

/* Changes the layout when printing */
@media print{
    header,
    footer{
        display: none;
    }

    .cv-main{
        background-image: none;
    }

    .cv-section{
        width: 100%;
    }
}