.index-main{
    border: 1px solid;
    display: flex;
    justify-content: center;
    background-image: url(Index/sara-oliveira-sot7LNZjnL8-unsplash.jpg);
}

.index-main.easter-bg {
    background-image: url(/EasterEgg/Easter.jpg);
    background-position: center;
    background-size: cover;
}

.hero{
    height:90vh;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero article{
    width: 40%;
    height: fit-content;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(47, 95, 81, 0.822);
    color: white;
}

.cta-button{
    display: inline-block;
    background-color: rgb(32, 63, 34);
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    transition: 0.2s;
}

.cta-button:hover{
    background-color: rgb(44, 105, 48);
}

.hero a{
    color: white;
    text-decoration: none;
}



.index-image{
    position: relative;
    border: 1px solid;
    width: 20%;
    height: 50vh;
    background-image: url(/Index/Bricks.jpg);
    background-position: center;
    background-size: cover;

    box-shadow: 1px 1px 5px;
}


/* Adds tint */
.index-image::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(46, 177, 90, 0.274);
}

@media (max-width: 768px){
    .index-main{
        background-image: none;

    }

    .hero{
        flex-direction: column;
        width: 100%;
    }

    .hero article{
        width: 100%;
    }

    .index-image{
        width: 100%;
        box-shadow: none;
        border: none;
    }
}